# KiCad history
**/.history/
/ESP32-S3-DevKitC-1_V1.1/.history
/ESP32/.history
/New_Atmega 2560/.history
/Raspberry pi pico 2w/Raspberry pi pico 2w/.history
/rpi-cm4-base-carrier/rpi-cm4-carrier-template/.history
